@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Jyro Jhusham Maravilla</h1>
    <h1 class="display-2">ELECTIVE 3 FULLSTACK WEB DEVELOPMEN</h1>
    <h1 class="display-3">BSIT - 32E2</h1>
</div>
